@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&family=Playwrite+TZ:wght@100..400&display=swap');

h1 {
    text-align: center;
    color: #007bff;
}



#excluirTudo {
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: #DC3545;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    float: right;
}

.filtro {
    float: left;
}

.filtro input {
    padding: 4px;
    margin-right: 5px;
}

.filtro select {
    margin-left: 3px;
    padding: 4px;
    border: 1px solid black;
    width: 130px;

}